
@import "vars";

.single-item{

    background-color: $foreground-color;
    border-radius: 3px;
    position: relative;

    -webkit-box-shadow: 2px 2px 25px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 25px -14px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 25px -14px rgba(0,0,0,0.75);

    .single-item-container{
        height:75px;
        padding: 0 10px;
    }

}

.income{

    h3{
        color:$color-tertiary;
    }

    .single-item{

        .transAmount {
            font-size: 28px;
            font-weight: 700;
        }

        .transName{
            color:$color-tertiary;
            font-weight: normal;
        }

        .transIcon{
            color: #fff;
            background: $color-tertiary;
            padding: 15px;
            margin-left: 15px;
            width: 60px;
            height: 60px;
            border-radius: 39px;
        }

    }

    .close-icon {
        color:$color-tertiary;
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
    }


}

.costs{

    h3{
        color:$color-secondary;
    }

    .single-item{

        .transAmount {
            font-size: 28px;
            font-weight: 700;
        }

        .transName{
            color:$color-secondary;
            font-weight: normal;
        }

        .transIcon{
            color: #fff;
            background: $color-secondary;
            padding: 15px;
            margin-left: 15px;
            width: 60px;
            height: 60px;
            border-radius: 39px;
        }

    }

    .close-icon {
        color:$color-secondary;
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
    }

}
