
@import "vars";


.totals-block-container {

    background-color: $farground-color;
    padding-bottom: 20px;

    .total-block {
        //background-color: $color-tertiary;
        border: 1px solid $color-tertiary;
        border-radius: $border-radius-global;
    }
}
