
$color-primary: #1291fe;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary: #ae64fa;
$color-secondary-hover: darken($color-secondary, 10%);
$color-tertiary: #2db1c5;
$color-tertiary-hover: darken($color-tertiary, 10%);
$color-white-alternative: #fcfeff;

$card-background-color: #6586ff;
$card-border-color: #446ff0;
$card-button-color: #ae64fa;

$border-radius-global: 3px;

$background-color: #172438;
$foreground-color: #1d314c;
$farground-color:#121b27;
$primary-cta-color: #a277fe;
$primary-cta-color-hover: darken($primary-cta-color, 10%);

$new-background-color: #121b27;
$new-foreground-color: #162131;
$new-farground-color:#1b2b43;


$font-family: 'Oswald', sans-serif; ;
