.logo-bar.grid-container {
  margin-bottom: 0; }

.top-header {
  background-color: #121b27; }

.single-item {
  background-color: #1d314c;
  border-radius: 3px;
  position: relative;
  -webkit-box-shadow: 2px 2px 25px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 25px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 25px -14px rgba(0, 0, 0, 0.75); }
  .single-item .single-item-container {
    height: 75px;
    padding: 0 10px; }

.income h3 {
  color: #2db1c5; }
.income .single-item .transAmount {
  font-size: 28px;
  font-weight: 700; }
.income .single-item .transName {
  color: #2db1c5;
  font-weight: normal; }
.income .single-item .transIcon {
  color: #fff;
  background: #2db1c5;
  padding: 15px;
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 39px; }
.income .close-icon {
  color: #2db1c5;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px; }

.costs h3 {
  color: #ae64fa; }
.costs .single-item .transAmount {
  font-size: 28px;
  font-weight: 700; }
.costs .single-item .transName {
  color: #ae64fa;
  font-weight: normal; }
.costs .single-item .transIcon {
  color: #fff;
  background: #ae64fa;
  padding: 15px;
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 39px; }
.costs .close-icon {
  color: #ae64fa;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px; }

.money-modal {
  background-color: #1d314c;
  border-radius: 3px;
  border: #263253; }
  .money-modal:focus {
    outline: none; }
  .money-modal label {
    color: #fff;
    font-weight: bold; }
  .money-modal input, .money-modal select {
    background-color: #172438;
    border: #1d253d;
    border-radius: 3px;
    color: #fff; }
    .money-modal input:focus, .money-modal select:focus {
      background-color: #192132;
      border: 2px solid #b57ffd;
      outline: none;
      box-shadow: none; }
    .money-modal input::placeholder, .money-modal select::placeholder {
      color: #7782a1; }
  .money-modal .close-button {
    color: #b57ffd; }

.totals-block-container {
  background-color: #121b27;
  padding-bottom: 20px; }
  .totals-block-container .total-block {
    border: 1px solid #2db1c5;
    border-radius: 3px; }

body,
html {
  font-weight: 700;
  background-color: #172438;
  color: #fcfeff;
  font-family: "Oswald", sans-serif; }

h1, .h1, .typography h1,
h2, .h2, .typography h2,
h3, .h3, .typography h3,
h4, .h4, .typography h4,
h5, .h5, .typography h5,
h6, .h6, .typography h6 {
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  color: #fcfeff; }

h1, .h1, .typography h1 {
  font-size: 2.5em;
  text-transform: uppercase; }

h2, .h2, .typography h2 {
  font-size: 2.2em;
  text-transform: uppercase; }

.grid-container {
  margin-bottom: 20px; }

.subtitle {
  color: #566686;
  font-weight: 300; }

.money {
  color: #fff;
  font-size: 18px;
  font-weight: normal; }
  .money.primary {
    color: #1291fe;
    font-size: 45px;
    font-weight: 700; }
  .money.secondary {
    color: #2db1c5;
    font-size: 22px; }

.button {
  background-color: #1291fe; }
  .button.primary {
    background-color: #1291fe;
    border-radius: 3px;
    font-weight: bold; }
    .button.primary:hover {
      background-color: #0177dc; }
    .button.primary:focus {
      background-color: #0177dc;
      outline: none; }
    .button.primary:active {
      background-color: #0177dc; }

.income-costs-container .costs, .income-costs-container .income {
  padding: 25px;
  border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
