
@import "vars";
@import "logo-bar";
@import "total-spending";
@import "singleItem";
@import "modal";
@import "total-blocks";

body,
html {
    font-weight: 700;
    background-color: $background-color;
    color: $color-white-alternative;
    font-family: $font-family;
}

h1, .h1, .typography h1,
h2, .h2, .typography h2,
h3, .h3, .typography h3,
h4, .h4, .typography h4,
h5, .h5, .typography h5,
h6, .h6, .typography h6 {
    font-weight: 900;
    font-family: $font-family;
    color: $color-white-alternative;
}

h1, .h1, .typography h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

h2, .h2, .typography h2 {
    font-size: 2.2em;
    text-transform: uppercase;
}

.grid-container {
    margin-bottom: 20px;
}

.subtitle {
    color: #566686;
    font-weight: 300;
}

.money{

    color: #fff;
    font-size:18px;
    font-weight: normal;

    &.primary{

        color: $color-primary;
        font-size: 45px;
        font-weight:700;

    }

    &.secondary{

        color: $color-tertiary;
        font-size: 22px;
    }

}


.button{

    background-color: $color-primary;

    &.primary{

        background-color: $color-primary;
        border-radius: $border-radius-global;
        font-weight: bold;

        &:hover{
            background-color: $color-primary-hover;
        }

        &:focus{
            background-color: $color-primary-hover;
            outline: none;
        }

        &:active{
            background-color: $color-primary-hover;
        }

    }
}




.income-costs-container{

    .costs, .income {

        //background-color: #192132;
        padding: 25px;
        border-radius: 10px;
    }

}
